.message {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 60px;
}

.text {
    background-color: #0d80f2;
    max-width: 500px;
    padding: 10px;
    margin-right: 15px;
    border-radius: 5px 5px 0 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    line-height: 25px;
    /* Уберите или измените свойство white-space */
    white-space: pre-wrap; /* Или изменить на normal или pre-wrap */
    word-wrap: break-word; /* Перенос слов на новую строку при необходимости */
}


.text::after {
    content: "";
    position: absolute;
    top: 65%;
    left: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #0d80f2;
    transform: rotate(135deg); /* Поворот треугольника на 45 градусов */
    transform-origin: 0 100%; /* Изменение точки вращения на левый нижний угол */
}

.name {
font-weight: bold;
    margin-left: auto;
}

.messageText {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.time {
    padding: 10px;
    font-weight: bold;
}