.message {
    height: 100%;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;

}

.imageAndText img {
    max-height: 60px;

}

/*.text {*/
/*    max-width: 30%;*/
/*    height: 100%;*/
/*    padding: 5px 10px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/
/*    align-items: flex-end;*/
/*    background-color: #0d80f2;*/
/*    border-radius: 8px;*/
/*    color: #DDEEFF;*/
/*    word-break:break-all;*/
/*    !*height: 4rem;*!*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

/*.text:after {*/
/*    content: ''; !* Добавлено контентное свойство *!*/
/*    position: absolute; !* Позиционируем псевдоэлемент абсолютно *!*/
/*    top: 68%; !* Перемещаем псевдоэлемент вниз относительно родительского элемента *!*/
/*    left: 100%; !* Выравниваем по горизонтали *!*/
/*    transform: translateY(20%) translateX(-20%); !* Центрируем псевдоэлемент по горизонтали *!*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-left: 0 solid transparent;*/
/*    border-right: 30px solid transparent;;*/
/*    border-bottom: 20px solid #0d80f2;*/
/*    z-index: -7;*/
/*}*/
.text {
    max-width: 30%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #0d80f2;
    border-radius: 8px;
    color: #DDEEFF;
    word-break: break-all;
    position: relative;
    z-index: 1;
}

.text:after {
    content: '';
    position: absolute;
    top: 50%; /* Перемещаем псевдоэлемент на середину по вертикали */
    left: 100%; /* Перемещаем псевдоэлемент вправо на 100% ширины родительского элемента */
    transform: translateY(12%) translateX(-66%); /* Центрируем по вертикали и выравниваем по горизонтали */
    width: 30px;
    height: 20px;
    border-left: 0 solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #0d80f2;
    z-index: -7;
}


.name {
    font-weight: bold;
}

.messageText {
    width: 100%;
    white-space: normal;
}

.time {
font-weight: bold;
    font-size: 14px;
    margin: 0 10px;
}