.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 317px;
    height: 100vh;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10), 0px 10px 40px 0px rgba(29, 33, 38, 0.13);
    display: none;
}

.sidebar.open {
    display: block;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.3;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 63px 75px;
}

.nav a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000

}

.nav a:hover {
    color: #58ACFF;
}
.nav a:active{
    color:  #3D6B99;
}

.nav a.active {
    text-decoration: underline;
    color: #0059B2;

}

.close {
    position: relative;
    top: 24px;
    left: 270px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.close img {
    width: 24px;
    height: 24px;
}
