/* Стили боковой панели */
.sidebar {
    width: 200px; /* Ширина боковой панели */
    height: 100%;
    background-color: #f2f2f2; /* Цвет фона боковой панели */
    display: flex;
    transition: transform 0.3s;
    position: fixed; /* Фиксированное позиционирование, чтобы боковая панель оставалась видимой при прокрутке */
    top: 0;
    z-index: 1000; /* Убедитесь, что боковая панель находится над другими элементами */
    overflow-y: auto; /* Если содержимое боковой панели слишком длинное, разрешить прокрутку */
    cursor: pointer;
}

.sidebar.open {
    transform: translateX(0); /* Показать боковую панель */
}

.background {

}

/* Стили навигации */
.nav {
    margin: 0 auto;
    padding: 20px; /* Отступ внутри навигации (настройте по вашему усмотрению) */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: #000; /* Цвет текста ссылок */

}

.nav a:hover {
    color: #5090f2; /* Цвет текста ссылок при наведении курсора */
}

.nav a.active {
    color: #1962e1; /* Цвет текста активной ссылки */
    text-decoration: underline #1962e1;
}

/* Стили закрытия */
.close {
    display: block;
    cursor: pointer;
    position: absolute; /* Абсолютное позиционирование для кнопки закрытия */
    top: 10px; /* Отступ от верхней границы боковой панели */
    right: 10px; /* Отступ от правой границы боковой панели */
    margin: 0 0 20px 0;
    border: none;
}

.close>button:hover{
    color: #5090f2; /* Цвет текста ссылок при наведении курсора */
}

.close img {
    height: 18px; /* Ширина изображения кнопки закрытия (настройте по вашему усмотрению) */
    cursor: pointer;
}
