.input:focus {
    min-height: 32px;
}

.input {
    margin-left: 10px;
    border-radius: 6px;
    min-height: 28px;
    outline: none;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.superInput {
    border: 1px solid;
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
    outline: 1px solid red;
}

.error {
    color: red;
    margin-left: 10px;
}
