.header {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between; /* Распределить элементы по краям боковой панели */
    align-items: center;
    gap: 10px; /* Задайте размер отступа между элементами (настройте по вашему усмотрению) */
    transition: transform 0.3s;
    position: fixed;
    top: 0;
    left: 0; /* Оставить боковую панель видимой при всей ширине экрана */
    z-index: 900;
    overflow-y: auto;
}

.burgerMenuIcon {
    cursor: pointer;
    width: 24px;
    margin-left: 10px; /* Отступ от левого края */
}

.header h1 {
    font-size: 24px;
    margin-right: 10px; /* Отступ от правого края */
}
